@import '../../../assets/scss/viariables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/normalize';

.dash-left-container{
    display: none;
    @include lg {
        display: block;
        min-height: 100vh;
        width: 14rem;
        background-color: $primary-color;
        margin: 0;
        padding: 0;
    } 
}

// .small-dash-left-container{
//     display: block;
//     min-height: 100vh;
//     width: 14rem;
//     background-color: $primary-color;
//     margin: 0;
//     padding: 0;
//     z-index: 1;
// }

.brand-name{
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    padding-top: 1.7rem;
    padding-bottom: 3rem;
}

.active-nav-field{
    width: 14rem;
    height: 1.6rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding-right: 1rem;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    height: 2.6rem;
}


.active-nav-field a{
    color: #000000; 
  }


.nav-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 0.7rem;
}
